MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/ragchatbot
JWT_SECRET=change-this-to-random-secret
WHISPER_API_URL=http://whisper:9000

# Default admin credentials (auto-created on first run)
ADMIN_EMAIL=admin@gencode.com.my
ADMIN_PASSWORD=Admin@123
